.apresentacao {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.titulo {
    font-size: 8em;
    font-weight: bold;
    color: var(--cor-destaque);
    font-family: var(--fonte-primaria);
    text-shadow: 4px 4px 4px var(--cor-principal);

}

.subtitulo {
    color: var(--cor-principal);
    font-family: var(--fonte-primaria);
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em;
    justify-content: center;
}

.botao_download {
    background-color: var(--background-color);
    color: var(--cor-destaque);
    border: 1px solid var(--cor-destaque);
    width: 25%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 0.8em;
}

.botao_download:hover {
    background-color: var(--cor-destaque);
    color: var(--background-color);
    transition: 0.5s;
    border: 1px solid var(--background-color);
}

.seta {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid var(--cor-principal);
    /* Cor da seta */
    animation: descer 1.5s infinite;
    margin-bottom: 20px;
}

.light_seta {
    border-top: 15px solid var(--background-color);
}

@keyframes descer {
    0% {
        transform: translate(-50%, 0);
        opacity: 1;
    }

    50% {
        transform: translate(-50%, 10px);
        opacity: 0.5;
    }

    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}