.apresentacao {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100vh;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.8s ease-in-out;
}

.apresentacao.mostrar {
    opacity: 1;
    transform: scale(1);
}

.titulo {
    font-size: 8em;
    font-weight: bold;
    color: var(--cor-destaque);
    font-family: var(--fonte-primaria);
    text-shadow: 4px 4px 4px var(--cor-principal);
    opacity: 0;
    transform: translateY(-50px);
   
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.8s ease-in-out 0.4s;
}

.botao_download {
    background-color: var(--background-color);
    color: var(--cor-destaque);
    border: 1px solid var(--cor-destaque);
    width: 25%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 0.8em;
    font-weight: 600;
    opacity: 0;
    transform: translateY(-50px);
    transition: ease-in-out 0.6s;
}

.botao_download:hover {
    background-color: var(--cor-destaque);
    color: var(--background-color);
    transition: 0.5s;
    border: 1px solid var(--background-color);

}

.botao_download_light{
    background-color: var(--background-color);
    color: var(--cor-destaque);
    border: none;

}

.botao_download_light:hover{
    background-color: var(--cor-principal);
    color: var(--background-color);
    border: none;
}


.apresentacao.mostrar .titulo,
.apresentacao.mostrar .redes-sociais,
.apresentacao.mostrar .botao_download {
    opacity: 1;
    transform: translateY(0);
}

.icone-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 2px solid var(--cor-principal);
    border-radius: 50%;
    padding: 0.5rem;
    transition: 0.3s;
    color: var(--cor-principal);
}

.icone-contato_light {
    border: 2px solid var(--background-color);
    color: var(--cor-destaque);
    background-color: var(--background-color);
}

.icone-contato_light:hover {
    border: 2px solid var(--cor-principal);
    color: var(--cor-principal);
    background-color: var(--background-color);
}

.icone-contato:hover {
    background-color: var(--cor-principal);
    color: var(--background-color);
}

.redes-sociais svg {
    width: 30px;
    height: 30px;
}

.seta {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid var(--cor-principal);
    animation: descer 1.5s infinite;
    margin-bottom: 20px;
}

.light_seta {
    border-top: 15px solid var(--background-color);
}

@keyframes descer {
    0% {
        transform: translate(-50%, 0);
        opacity: 1;
    }

    50% {
        transform: translate(-50%, 10px);
        opacity: 0.5;
    }

    100% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .apresentacao {
        padding: 1.8em;
    }

    .titulo {
        font-size: 2.5rem;
    }

    .subtitulo {
        font-size: 1.5em;
    }

    .botao_download {
        width: 50%;
    }
}