.container.tela-certificados {
    margin-bottom: 0;
    padding: 6em 12em 0em 12em;
    height: 70vh;
}

.titulo_certificados {
    font-size: 2rem;
    color: var(--cor-destaque);
    text-align: center;
    margin-bottom: 3rem;
}	

.certificado-item {
    background-color: var(--cabecalho-color);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    max-height: 330px;
    overflow: hidden;
}

.certificado-img {
    width: 100%;
    height: auto

}
.certificado-conteudo {
    padding: 1.5rem;
    text-align: center;
}

.certificado-titulo {
    color: var(--cor-destaque);
    font-weight: 500;
}





  /* Cor do bullet ativo */
  .swiper-pagination-bullet-active {
    background-color: var(--cor-principal) !important; /* Vermelho mais forte para indicar a página ativa */
    opacity: 1; /* Totalmente visível */
  }


  @media (max-width:1400px) {
    
    
    
    .container.tela-certificados {
        padding: 0em 2em; /* Reduzindo o espaçamento para telas menores */
    }

    .certificado-item {
        max-height: fit-content; /* Alterado para auto */
    }

}