.descricao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding: 4em 2em;
    margin: 6em auto;
    max-width: 1200px;
}

.foto{
    width: 40%;
    max-width: 1200px;
    border-radius: 3%;
    box-shadow: 4px 4px 4px var(--cor-principal);
    object-fit: cover;
}

.paragrafo_descricao{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--cor-destaque);
    font-family: var(--fonte-secundaria);
    font-size: 1.3em;
    padding: 1em;
    text-align: justify;
    border-radius: 12px;
    background-color: var(--cabecalho-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    

}

.paragrafo_descricao_light{
    color: var(--cor-destaque);
    border-radius: 12px;
    background-color: var(--cabecalho-color);
    box-shadow: 8px 8px 8px var(--cor-principal);
}


@media (max-width: 1200px){
    .descricao{
        flex-direction: column;
        gap: 2em;
    }

    .foto{
        width: 100%;
    }

    .paragrafo_descricao{
        width: 100%;
        
    }
}