.descricao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding: 4em 2em;
    margin: 6em auto;
    max-width: 1200px;
}

.foto{
    width: 40%;
    border-radius: 3%;
    box-shadow: 8px 8px 8px var(--cor-principal);
    object-fit: cover;
}

.paragrafo_descricao{
    display: flex;
    flex-direction: column;
    gap: 1em;
    color: var(--cor-principal);
    font-family: var(--fonte-primaria);
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em;
    text-align: justify;
}

.paragrafo_descricao_light{
    color: var(--background-color);
}
