footer{
    background-color: var(--cabecalho-color);
    color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    font-size: 1.2rem;
    font-family: var(--fonte-primaria);
    margin-top: 100px;
}

.texto_rodape{
    color: var(--cor-principal);
    font-weight: 600;
}

.texto_rodape_light{
    color: var(--cor-destaque);
}


.redes-sociais2 {
    display: flex;
    align-items: center;
    gap: 1rem; /* Espaçamento entre ícones */
}

.numero {
    font-weight: 300;
    text-align: center;
    display: flex;
    align-items: center;
}

@media (max-width: 1200px) {
    footer{
        flex-direction: column;
        gap: 1rem;
    }
   
    .texto_rodape{
        font-size: 1rem;
    }

    .redes-sociais2 {
        display: flex;
        align-items: center;
        gap: .5rem; 
    }
}