.container.tela-projetos {
    margin-bottom: 0;
    padding: 6em 12em 6em 12em;
}

.titulo_projetos {
    font-size: 2rem;
    color: var(--cor-destaque);
    text-align: center;
    margin-bottom: 3rem;
}	

.projeto-item {
    background-color: var(--cabecalho-color);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    max-height: fit-content;
    overflow: hidden;
    min-height: 500px;
}

.projeto-img {
    width: 100%;
    height: 12.5em;
    object-fit: cover;

}
.projeto-conteudo {
    padding: 1.5rem;
    
}

.projeto-titulo {
    font-size: 1.5rem;
    color: var(--cor-destaque);
    margin-bottom: 0.5rem;
}

.projeto-descricao {
    font-size: 1rem;
    color: #b3b3b3;
    margin-bottom: 1rem;
}

.projeto-links {
    margin-bottom: 1rem;
}

.projeto-link {
    color: var(--cor-principal);
    text-decoration: none;
    font-weight: bold;
    margin-right: 1rem;
    transition: color 0.3s ease;
}



.projeto-link:hover {
    color: var(--cor-destaque);
}

.projeto-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    background-color: #2d3748;
    color: #e2e8f0;
    padding: 0.3rem 0.6rem;
    border-radius: 12px;
    font-size: 0.875rem;
}



.swiper {
    width: 100%;
    height: 70%;
}
  /* Cor do bullet ativo */
  .swiper-pagination-bullet-active {
    background-color: var(--cor-principal) !important; /* Vermelho mais forte para indicar a página ativa */
    opacity: 1; /* Totalmente visível */
  }
  